# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs & Runtime Data
logs/honeypot.json
logs/attacker_profiles.json
server/fs_state.json

# Generated outputs
threat_feed/
*.docx

# Environment
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Docker
*.log
